<div class='row'>
    <div class='col-lg-4'>
        <div class='card mb-4'>
            <div class='card-body text-center'>
                <div class='mb-3'>ID: {{info.id}}</div>
                <img
                    src={{info.picture.data.url}}
                    alt='avatar'
                    class='rounded-circle img-fluid'
                    style='width: 150px;'
                />
                <h5 class='my-3'>{{info.name}}</h5>
                {{! <p class='text-muted mb-1'></p> }}
                <p class='text-muted mb-4'>{{info.location}}</p>
            </div>
        </div>
    </div>
    <div class='col-lg-8'>
        <div class='card mb-4'>
            <div class='card-body text-center'>
                <div class='mb-3'>ID: {{account.id}}</div>
                <img
                    src={{picture.data.url}}
                    alt='avatar'
                    class='rounded-circle img-fluid'
                    style='width: 150px;'
                />
                <h5 class='my-3'>{{name}}</h5>
                {{! <p class='text-muted mb-1'></p> }}
                <p class='text-muted mb-4'>{{location}}</p>
            </div>
        </div>
    </div>

</div>